<div >

<div class="loading" *ngIf="loading">
  <div class="rotate">
  </div>
</div>
<router-outlet></router-outlet>

  </div>
  <div class="socialmedia">
    <div class="facebook" onclick="sharedata();">
  <i class="fab fa-facebook-f"></i>
    </div>
    <div class="twitter">
    <a href="https://twitter.com/intent/tweet?text=Choose Your Waste Disposal Service Without Much Ado  https://sdgdisposify.web.app"
  url="http://jineosy.com">
  <i class="fab fa-twitter"></i>

  </a>
    </div>
    <div class="whatsapp">
    <a href="https://api.whatsapp.com/send?text=Choose Your Waste Disposal Service Without Much Ado  https://sdgdisposify.web.app">
          <i class="fab fa-whatsapp"></i>

        </a>
    </div>

  </div>
